body {
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
}

table {
    width: 50%;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    padding: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 5px;
}
