body {
    background: ghostwhite;
    font-family: "Times New Roman", Times, serif;
}
h1 {
    color: goldenrod;
    text-align: center;
}

a { 
    /* change the appearance of ALL links */
    text-decoration: none;
}

.left {
    text-align: left;
}

.about {
    color: mediumblue;
}

.skills {
    color: mediumblue;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 

.projects h2 {
    /* display the h2 on its own line, not with the sections blobs */
    width: 100%;
}

.project {
    color: mediumblue;
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: thistle; 
    border-radius: 25%;
}

.project h3 {
    margin-left: 50px;
}

.project img{
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid goldenrod;
    display: block;
    text-align: center;
}

.project p { 
    /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
    margin: 15px;
}

.contact {
    color: mediumblue;
}
