body {
    background: ghostwhite;
    font-family: "Times New Roman", Times, serif;
}
h1 {
    color: goldenrod;
    text-align: center;
}

.left {
    text-align: left;
}

.about {
    color: mediumblue;
}

.skills {
    color: mediumblue;
}

.projects {
    color: mediumblue;
}

.contact {
    color: mediumblue;
}
